<div id="modalTip" class="modal fade in" aria-labelledby="myModalLabel" style="display: none;">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h5 id="myModalLabel" class="modal-title">提示</h5>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button class="btn btn-default btn-sm" type="button" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
