<!DOCTYPE html>
<html>
  <head>
    <%= render 'admin/shared/head' %>
  </head>

  <body class="hold-transition login-page">
      <div class="login-box">
        <%= yield %>
      </div>
  </body>
</html>
